.chat-box
  .nameday-box
    %p.chat-name
      = message.user.name
    %p.chat-day 2016/10/02 06:27:07
  .text-box
  -if message.text.present?
    = message.text
  -if message.image.present?
    = image_tag(message.image, size: 256)
