.contents
  = render 'shared/side_bar'
  / renderの中にrenderは使ってはいけない。divの中に閉じてあげる
  .right-contents
    .right-mainbody
      = render 'shared/right-message'
  .footer-content
    = render 'shared/footer'
