.right-mainbody
  .chat-box
    .nameday-box
      %p.chat-name
      message.user.name
      %p.chat-day 2016/10/02 06:27:07
    .text-box
      %p.chat-text なるほど
  .chat-box2
    .nameday-box
      %p.chat-name sasaki
      %p.chat-day 2016/10/04 09:20:07
    .text-box
      %p.chat-text おはよう
