
.contents
  .left-contents
    .lefttop-content
      / %i.fa.fa-cog
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      %i.fa.fa-pencil-square-o
      %p.lefttop name
    .leftbottom-content
      %p
        mygroup
        %br
        %span まだメッセージはありません
      %p.space
        testgroup
        %br
        %span まだメッセージはありません
      %p.space
        testgroup2
        %br
        %span メッセージ待ち
  .right-contents
    .topbox
      %a.editbox edit
      = link_to "ログイン", new_user_session_path, class: "loginbox" unless user_signed_in?
    .main-header.clearfix
      %p.header-groupname Sampleグループ
      .menber-name Menber:ryosukemaehira
    .right-mainbody
      .chat-box
        .nameday-box
          %p.chat-name ryosukemaehira
          %p.chat-day 2016/10/02 06:27:07
        .text-box
          %p.chat-text なるほど
      .chat-box2
        .nameday-box
          %p.chat-name sasaki
          %p.chat-day 2016/10/04 09:20:07
        .text-box
          %p.chat-text おはよう
    .footer-content
      .form_content
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
            = file_field_tag :image, id: "upload-icon",style: "display:none"
        %textarea{:placeholder => "type a message",:cols => "140", :name => "kanso", :rows => "2",:src => "far.fa-image"}
        %input#submit{:type => "submit", :value => "Send"}/



