.main-header {
border:#d0d0d0 solid 1px;
height: 100px;
width: calc( 100vw - 300px );
position: fixed;
.header-groupname {
  color: #333;
  font-size: 20px;
  margin: 35px 30px 15px;
  float: left;
 }
.menber-name {
  font-size: 12px;
  color: #999999;
  margin-left: 40px;
  clear:both;
    }
  }
