
// form_forを使う関係でSCSSを分ける
.footer-content {
  height: 90px;
  width: calc( 100vw - 300px );
  background-color: #B8C3C7;
  position: absolute;
  bottom:0px;
  right:0px;
  .form_content {
    height: 50px;
    width: calc( 100vw - 350px );
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
    .form__message {
      height: 48px;
      width: 900px;
      textarea{
        height: 25px;
        font-size: 16px;
        color: #434A54;
        padding-left: 10px;
        margin-top: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        position: absolute;
        top: -13px;
        left: 0px;
        width: 86%;
        }
     }
    .fa {
      position: absolute;
      bottom: 16px;
      right: 140px;
      z-index: 1;
      }
    .hidden {
      display:none;
    }
    .form__submit {
      height: 50px;
      width: 80px;
      background-color: #38AEF0;
      color:#FFF;
      float: right;
      margin-right: 40px;
      position: absolute;
      right:-20px;
      bottom:0;
    }
  }
}
