@import "./reset";
@import "font-awesome";
/*
 *= require font-awesome
 */
body, html {
  height: 100%;
  background-color: white;
  min-width: 900px;
  // width: 900px;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
  min-width: 960px;
  }


header {
  background-color:#38AEF0;
  height: 50px;
  // width: calc( 100vw - 50px );
  width: 100%;
  position: fixed;
  z-index: 1;
}

.heading-sentence {
  color:white;
  text-align:center;
  line-height: 50px;
}


.contents {
  height: 100%;
  width: 100%;
  padding-top:50px;
  z-index: 2;
  .editbox{
    color:#38AEF0;
    border: 1px solid #38AEF0;
    font-size: 15px;
    float:right;
    margin: 28px 40px 0;
    padding: 12.5px 20px;
   }
  .left-contents {
    height: calc( 100% - 100px );
    width: 300px;
    float:left;
    .lefttop-content {
    background-color:#253141;
    height: 100px;
    width: 100%;
    line-height: 50px;
    margin: auto 0;
    position:relative;
      p  {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin: 20px 20px;
        position: relative;
        display: inline-block;
      }
      .fa-pencil-square-o{
        color:#FFF;
        float: right;
        padding-right: 5px;
        padding-top: 40px;
      }
      .fa-cog {
        color:#FFF;
        float: right;
        padding-right: 20px;
        padding-top: 40px;
      }
    }
    .leftbottom-content {
    background-color:#2f3e51;
    height:  100%;
    width: 300px;
    float:left;
      p {
        margin-top: 20px;
        color: #FFFFFF;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        span {
          margin-top: 5px;
            color: #FFFFFF;
          font-size: 11px;
        }
      }
     .space {
        margin-top: 40px;
        color: #FFFFFF;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        span {
          margin-top: 5px;
          color: #FFFFFF;
          font-size: 11px;
        }
      }
     }
    }
  .right-contents{
    height: 100%;
    width: calc( 100vw - 300px );
    float:left;
    position: relative;
    .main-header {
      border:#d0d0d0 solid 1px;
      height: 100px;
      width: calc( 100vw - 300px );
      // width: 110%;
      .header-groupname {
        color: #333;
        font-size: 20px;
        margin: 35px 30px 15px;
        float: left;
       }
      .menber-name {
        font-size: 12px;
        color: #999999;
        margin-left: 40px;
        clear:both;
       }
     }
    .chat-box {
      padding-left:40px;
      padding-top:46px;
      .nameday-box {
        background-color: red;
        .chat-name {
          font-size:16px;
          font-weight: bold;
          color:#434A54;
          float:left;
         }
        .chat-day {
          font-size: 12px;
          padding-left:10px;
          color:#999999;
          float:left;
          padding-top: 4px;
         }
        }
        .text-box {
          clear:both;
          .chat-text {
            padding-top: 10px;
            font-size:14px;
          }
         }
     }
    .chat-box2 {
      padding-left:40px;
      padding-top:40px;
      .nameday-box {
        background-color: red;
        .chat-name {
          font-size:16px;
          font-weight: bold;
          color:#434A54;
          float:left;
         }
        .chat-day {
          font-size: 12px;
          padding-left:10px;
          color:#999999;
          float:left;
          padding-top: 4px;
         }
        }
        .text-box {
          clear:both;
          .chat-text {
            padding-top: 10px;
            font-size:14px;
          }
         }
     }
    .footer-content {
      background-color: red;
      height: 90px;
      width: calc( 100vw - 300px );
      // width: 110%;
      background-color: #B8C3C7;
      position: absolute;
      bottom:0px;
      right:0px;
      .form_content{
        height: 50px;
        width: calc( 100vw - 340px );
        // width: calc( 100% - 40px );
        margin-top: 20px;
        margin-left: 40px;
        position: relative;
        .footer-body {
          background-color: blue;
          height: 48px;
          width: 900px;
          // position:relative;
        }
          textarea{
            height: 25px;
            font-size: 16px;
            color: #434A54;
            // float: left;
            padding-left: 10px;
            margin-top: 12px;
            padding-top: 10px;
            padding-bottom: 15px;
            position: absolute;
            top: -13px;
            left: 0px;
            width: 86%;
            // z-index: 1;
            }
        }
        .fa {
          position: absolute;
          bottom: 16px;
          right: 140px;
          z-index: 1;
            }
        #submit {
          height: 50px;
          width: 80px;
          background-color: #38AEF0;
          color:#FFF;
          float: right;
          margin-right: 40px;
          // position:absolute;
          // right: 93px;
          // top: 0px;
          // z-index: 1;
        }
       }
     }
    }



.leftbottomsample2 {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
}

.leftbottom1 {
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.leftbottom2 {
  margin-top: 5px;
  color: #FFFFFF;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
}
